@using Microsoft.AspNetCore.Identity
@{
    var isLoggedIn = User.Identity.IsAuthenticated;
    var userName = User.Identity.Name;
    var userImage = Url.Content($"~/images/usuarios/{userName}.jpeg");
}
@if (!isLoggedIn)
{
    <div class="alert alert-danger" role="alert">
        No tienes permiso para acceder a esta página.
    </div>
}
else
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Title -->
        <title>The Palatin - Hotel &amp; Resort Template</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link href="~/cliente/css/perfil.css" rel="stylesheet" />
        <link href="~/css/topab.css" rel="stylesheet" />
        <!-- Favicon -->
        <link rel="icon" href="~/Home/img/core-img/favicon.ico">

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="~/Cliente/style.css">

    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="cssload-container">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
        </div>

        <!-- ##### Header Area Start ##### -->
        <header class="header-area">
            <!-- Navbar Area -->
            <div class="palatin-main-menu">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <div class="classy-menu" id="menuContent">

                            <nav class="classy-navbar justify-content-between align-items-center" id="palatinNav">
                                <a href="/Cliente" class="nav-brand" id="logo">
                                    <img src="~/Home/img/CaribbeanShoreAdmin.png" alt="Logo" style="max-width: 200px; transition: all 0.3s ease;">
                                </a>
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul id="nav-links">
                                        <li><a href="/Cliente">Inicio</a></li>
                                        <li>
                                            <a href="#">Reservar</a>
                                            <ul class="dropdown">
                                                <li> <a asp-controller="Habitaciones" asp-action="Catalogo">Habitaciones</a></li>
                                                <li><a asp-controller="Servicios" asp-action="CatalogoServicios">Servicios</a></li>
                                                <li> <a asp-controller="Comodidades" asp-action="CatalogoComodidad">Comodidades</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Perfil</a>
                                            <ul class="dropdown">
                                                <li> <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#miPerfilModal">Mi perfil</a></li>
                                                <li> <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#misReservasModal">Mis Reservas</a></li>
                                                <li> <a asp-controller="Pagos" asp-action="Historial">Historial</a></li>
                                                <li> <a asp-controller="EncuestaSatisfaccion" asp-action="Create">EncuestaSatisfaccion</a></li>

                                            </ul>
                                        </li>
                                        <li> <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#encuestaModalLabel">Cuentanos tu experiencia</a></li>
                                        <li><a href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasContact" aria-controls="offcanvasContact">Contáctanos</a></li>
                                    </ul>
                                    <div class="menu-btn">
                                        <a asp-controller="Home" asp-action="CerrarSesion" class="btn palatin-btn">Cerrar Sesion</a>
                                    </div>
                                </div>
                                <!-- Nav End -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasContact" aria-labelledby="offcanvasContactLabel">
                    <div class="offcanvas-header ">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="container mt-4">
                            <div class="row">

                                <!-- Información de contacto -->
                                <div class="col-md-6 text-center">
                                    <p>
                                        <img src="/Home/img/CaribbeanShoreAdmin.png" alt="Caribbean Shore" style="max-height: 50px;">
                                    </p>
                                    <h4>Información del Hotel</h4>
                                    <p><strong>Correo:</strong> <a href="mailto:info@caribbeanshore.com">info@caribbeanshore.com</a></p>
                                    <p><strong>Teléfono:</strong> <a href="tel:+573146141152">3146141152</a></p>
                                    <p><strong>Dirección:</strong> Cll 47 # 31 - 27 Hotel Caribbean Shore</p>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-4">
                            <div class="row">

                                <!-- Redes Sociales -->
                                <div class="col-md-6 text-center">
                                    <h4>Síguenos en nuestras redes</h4>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://www.facebook.com/caribbeanshore" class="me-3" target="_blank" title="Facebook">
                                            <i class="fab fa-facebook fa-3x"></i>
                                        </a>
                                        <a href="https://www.instagram.com/caribbeanshore" class="me-3" target="_blank" title="Instagram">
                                            <i class="fab fa-instagram fa-3x"></i>
                                        </a>
                                        <a href="https://www.twitter.com/caribbeanshore" class="me-3" target="_blank" title="Twitter">
                                            <i class="fab fa-twitter fa-3x"></i>
                                        </a>
                                        <a href="https://wa.me/573146141152" class="me-3" target="_blank" title="WhatsApp">
                                            <i class="fab fa-whatsapp fa-3x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <main role="main" class="pb-0">
            @RenderBody()
        </main>
        <footer class="footer-area">
            <div class="container-fluid">
                <div class="row">

                    <!-- Copywrite Text -->
                    <div class="col-12">
                        <div class="copywrite-text mt-30">
                            <p>
                                <a href="#">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->

        <script src="~/Home/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="~/Home/js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="~/Home/js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="~/Home/js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/Home/js/active.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="~/Cliente/VistasCliente/Reservar.js"></script>
        @await RenderSectionAsync("Scripts", required: false)

        <!-- Modal Mi Perfil -->
        <div class="modal fade" id="miPerfilModal" tabindex="-1" aria-labelledby="miPerfilModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="miPerfilModalLabel">Mi Perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe src="@Url.Action("MiPerfil", "Clientes")" width="101%" height="700px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Mis Reservas -->
        <div class="modal fade" id="misReservasModal" tabindex="-1" aria-labelledby="misReservasModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="misReservasModalLabel">Mis Reservas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe src="@Url.Action("ListarReservasCliente", "Reservas")" width="101%" height="800px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="encuestaModalLabel" tabindex="-1" aria-labelledby="encuestaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="encuestaModalLabel">Cuentanos tu experiencia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe src="@Url.Action("Create", "EncuestaSatisfaccion")" width="100%" height="330px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
}
