
<footer class="footer-area">
    <div class="container-fluid">
        <div class="row">

            <!-- Footer Widget Area -->
            <div class="col-12 col-lg-5">
                <div class="footer-widget-area mt-50">
                    <a href="#" class="d-block mb-5"><img src="~/Home/img/Mision.png" alt=""></a>
                    <p>Misión: Celebrar la rica cultura y tradición del Caribe, ofreciendo a nuestros huéspedes una experiencia auténtica que les permita conectar con la historia y el alma de esta región. </p>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="footer-widget-area mt-50">
                    <a href="#" class="d-block mb-5"><img src="Home/img/Vision.png" alt=""></a>
                    <p>Visión: Ser el guardián de la cultura caribeña, ofreciendo una experiencia vacacional que preserve y promueva las tradiciones locales, convirtiéndonos en un embajador del Caribe en el mundo. </p>
                </div>
            </div>
        </div>
    </div>
</footer>