@{
    ViewBag.Title = "Empleados";
    Layout = "_Admin";
}
@section Estilos {
    <link href="~/admin/assets/css/buttons.datatables.css" rel="stylesheet" />
    <link href="~/admin/assets/css/datatables.datatables.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="card-header">
                <button class="btn btn-success btn-sm float-end" onclick="openCreateModal()">
                    <img src="Admin/Fonts/circle-plus-solid.svg" alt="Agregar" style="width: 16px; height: 16px; margin-right: 5px;" />
                    Agregar Nuevo Empleado
                </button>
            </div>
            <div class="card-body">
                <table id="tbEmpleados" class="table">
                    <thead>
                        <tr>
                            <th>EmpleadoId</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento Identidad</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán aquí mediante JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Agregar Empleado</h5>
            </div>
            <div class="modal-body">
                <form id="createForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required minlength="2" maxlength="20" pattern="^[a-zA-Z\s]+$" title="El nombre debe tener entre 2 y 20 caracteres y no puede contener números.">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required minlength="2" maxlength="20" pattern="^[a-zA-Z\s]+$" title="El apellido debe tener entre 2 y 20 caracteres y no puede contener números.">
                    </div>
                    <div class="mb-3">
                        <label for="documentoIdentidad" class="form-label">Documento Identidad</label>
                        <input type="text" class="form-control" id="documentoIdentidad" name="documentoIdentidad" required minlength="9" maxlength="10" pattern="^\d{9,10}$" title="El documento de identidad debe contener solo números y tener entre 9 y 10 dígitos.">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required pattern="\d{10}">
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="municipioId" class="form-label">Municipio</label>
                        <select class="form-select" id="municipioId" name="municipioId">
                            <option value="">Seleccione un municipio</option>
                            <!-- Los municipios se cargarán aquí -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="rolId" class="form-label">Rol</label>
                        <select class="form-select" id="rolId" name="rolId" required>
                            <option value="">Seleccione un rol</option>
                            <!-- Los roles se cargarán aquí -->
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editEmpleadoId" name="empleadoId">
                    <div class="mb-3">
                        <label for="editNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="editNombre" name="nombre" required minlength="2" maxlength="20" pattern="^[a-zA-Z\s]+$" title="El nombre debe tener entre 2 y 20 caracteres y no puede contener números.">
                    </div>
                    <div class="mb-3">
                        <label for="editApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="editApellido" name="apellido" required minlength="2" maxlength="20" pattern="^[a-zA-Z\s]+$" title="El apellido debe tener entre 2 y 20 caracteres y no puede contener números.">
                    </div>
                    <div class="mb-3">
                        <label for="editDocumentoIdentidad" class="form-label">Documento Identidad</label>
                        <input type="text" class="form-control" id="editDocumentoIdentidad" name="documentoIdentidad" required minlength="9" maxlength="10" pattern="^\d{9,10}$" title="El documento de identidad debe contener solo números y tener entre 9 y 10 dígitos.">
                    </div>
                    <div class="mb-3">
                        <label for="editTelefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="editTelefono" name="telefono" required pattern="\d{10}">
                    </div>
                    <div class="mb-3">
                        <label for="editCorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="editCorreo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="editMunicipioId" class="form-label">Municipio</label>
                        <select class="form-select" id="editMunicipioId" name="municipioId">
                            <option value="">Seleccione un municipio</option>
                            <!-- Los municipios se cargarán aquí -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editRolId" class="form-label">Rol</label>
                        <select class="form-select" id="editRolId" name="rolId" required>
                            <option value="">Seleccione un rol</option>
                            <!-- Los roles se cargarán aquí -->
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal para Detalles -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles del Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>EmpleadoId:</strong> <span id="detailsEmpleadoId"></span></p>
                <p><strong>Nombre:</strong> <span id="detailsNombre"></span></p>
                <p><strong>Apellido:</strong> <span id="detailsApellido"></span></p>
                <p><strong>Documento Identidad:</strong> <span id="detailsDocumentoIdentidad"></span></p>
                <p><strong>Teléfono:</strong> <span id="detailsTelefono"></span></p>
                <p><strong>Correo:</strong> <span id="detailsCorreo"></span></p>
                <p><strong>Municipio:</strong> <span id="detailsMunicipio"></span></p>
                <p><strong>Rol:</strong> <span id="detailsRol"></span></p>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar este empleado?</p>
                <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/admin/assets/js/datatables.buttons.js"></script>
    <script src="~/admin/assets/js/datatables.min.js"></script>
    <script src="~/admin/assets/js/datatables.js"></script>
    <script src="~/admin/vistasmodal/empleados.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
